.attackList {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    background: #FFFAFA;
    position: initial;
    text-transform: capitalize;
}

li {
    width: 50%;
    text-align: center;
    padding: 25px 0;
    box-sizing: border-box;
    border: 1px solid #666;
    cursor: pointer;
    transition: background 0.3s ease;
}